<a class="pokemon">
  <section class="pokemon__status">
    <h2>
      Bulbasour
    </h2>
    <ul>
      <li>JooJ</li>
      <li>JooJ</li>
    </ul>
  </section>

  <section class="pokemon__image">
    <img src="../../../assets/pokemon.png" alt="bulbassauro">
  </section>
</a>

<a class="pokemon">
  <section class="pokemon__status">
    <h2>
      Bulbasour
    </h2>
    <ul>
      <li>JooJ</li>
      <li>JooJ</li>
    </ul>
  </section>

  <section class="pokemon__image">
    <img src="../../../assets/pokemon.png" alt="bulbassauro">
  </section>
</a>
